@using API.Helpers
@using API.Models
@model List<VisaSearchResult>

@{
    int i = 0;
}

@foreach (var visa in Model)
{
    if(i == 3 || i == 5)
    {
        <div class="p-3 mb-3 bg-white border rounded-booking">

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6249528688314749"
                    crossorigin="anonymous"></script>
            <!-- default country card -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6249528688314749"
                 data-ad-slot="5602823615"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>


        </div>        
    }

    @await Component.InvokeAsync("VisaRow", visa)

    i++;
}