@using API.Helpers
@using API.Models
@using static API.Views.Shared.ViewComponents.NoVisaCountriesViewComponent
@model NoVisaCountriesModel

@if(Model.countries != null && Model.countries.Count > 0) {

    <div>
        <h5 class="mb-3">Visa free countries entry for citizens of @Model.myCountry (@Model.countries.Count found)</h5>
        <div style="max-height: 20rem; overflow-y:scroll;">
            @foreach (var item in Model.countries)
            {
                <p>
                    <a href="/@item.Name">
                        @item.Name 
                    </a>
                    @if (item.Duration > 0)
                    {
                        <span class="me-2 mb-2 p-2 badge text-dark rounded-pill bg-light">
                            @item.Duration days
                        </span>
                    }
                </p>
            }
        </div>
    </div>
}