@{
    var countries = ViewBag.Countries as List<UpdatedCountries>;
}

@{
    ViewData["Title"] = "Countries' Visa Policy";
    ViewData["MetaDescription"] = "List of countries with last updates of visa info.";
}

<h2 class="fw-bold text-center p-4">All countries</h2>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var c in countries)
    {
        <div class="col">
            <div class="card-body">
                <span class="flag-icon flag-icon-@c.Iata.ToLower()"></span>
                <a class="card-link m-2">@c.Name</a>
                <p data-utcdate="@c.UpdateDate.ToString("s", System.Globalization.CultureInfo.InvariantCulture)"></p>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-utcdate]').each(function () {
                var d = moment($(this).attr('data-utcdate'), "YYYYMMDDHHmmss").fromNow(); //moment($(this).attr('data-utcdate'));
                $(this).html("⏱ Updated " + d);
            });
        });
    </script>
}