@import url('site.css');
:root {
    --main-color: #23aaa3;
}


.logo-box {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    background: -webkit-linear-gradient(120deg,#06c4e8, #015CA2, #070764, #742f44, #d67203, #f2d182);
    background: linear-gradient(120deg,#06c4e8, #015CA2, #070764, #742f44, #d67203, #f2d182);
    background-size: 300% 300%;
    mask-image: url('/logo.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url('/logo.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    display: inline-block;
    -webkit-animation: animatedgradient 5s ease infinite alternate;
    -moz-animation: animatedgradient 5s ease infinite alternate;
    -ms-animation: animatedgradient 5s ease infinite alternate;
    -o-animation: animatedgradient 5s ease infinite alternate;
    animation: animatedgradient 5s ease infinite alternate;
}

@-webkit-keyframes animatedgradient {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 90% 50%
    }

    100% {
        background-position: 0% 10%
    }
}

@-moz-keyframes animatedgradient {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 90% 50%
    }

    100% {
        background-position: 0% 10%
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 10% 0%
    }
    50% {
        background-position: 90% 50%
    }
    100% {
        background-position: 0% 10%
    }
}

body {
    background-color: #fbfaf8;
    color: #0f1115;
}

a {
    text-decoration: none !important;
}

.sectionstyle {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    /*border-radius: 0.25em;*/
    /*box-shadow: 0 0 1em 0 rgb(0 0 0 / 20%);*/
}

.remove-filter {
    margin: 0px 3px 0 12px;
    width: 22px;
    opacity: 0.3;
}

.cursor-out {
    cursor: zoom-out;
}

.bg-main-color {
    background-color: #23aaa3 !important;
}

.bg-white-opacy {
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-black-opacy {
    background-color: rgba(1, 1, 1, 0.5);
}

h3 {
    margin: 40px 0 0;
}

/*ul {
    list-style-type: none;
    padding: 0;
}*/

/*li {
    display: inline-block;
    margin: 0 10px;
}*/

nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

    #nav a.router-link-exact-active {
        color: #42b983;
    }

.shadowed {
    /*text-shadow: 0rem 0.15em 0.2rem rgb(0 0 0 / 80%);*/
    text-shadow: 0rem 0.15rem 0.2rem rgb(0 0 0 / 80%);
}

.shadowed-l {
    text-shadow: 0rem 0.1em 0.15rem rgb(0 0 0 / 30%);
}

.preparing {
    background-color: black;
    opacity: .555;
}

.badge-card {
    /* z-index: 1; */
}

.hero-bg {
    background-size: cover !important;
    background-position: center center !important;
    /*height: 35vh;*/
}

/*.carousel-item:nth-child(1) {
    background-image: url('/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}*/

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

@media only screen and (max-width: 480px) {
    #introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
        height: 70vh;
    }
    #CitizenshipId {
        padding: .5rem !important;
    }
}

@media only screen and (min-width: 480px) {
    #introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
        height: 40vh;
        min-height: 450px;
    }
}

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    
}
    .carousel-item:nth-child(1) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }




.press-ph {
    width: 168px;
    height: 41px;
    background-image: url('/press/ph-black.png');
}

    .press-ph:hover {
        background-image: url('/press/ph-orange.png');
    }

.rounded-5 {
    border-radius: 1rem;
}

.rounded-booking {
    border-radius: 8px;
}

.display-none {
    display: none;
}

.card {
    min-height: 200px;
}

.card-cover {
    background-repeat: no-repeat;
    /*background-position: center center;*/
    background-size: cover;
}

.rating {
    /*border-color: #ffc924;*/
    background-color: #ddd;
    overflow: hidden;
    /*text-align: center;*/
}

.bg-light {
    background-color: #e9ecef !important;
}

.r1 {
    background-color: #ffc6ff;
}

.r3 {
    background-color: #fdffb6;
}

.r5 {
    background-color: #caffbf;
}

.c1 {
    background-color: #eae2b7;
}

.c2 {
    background-color: #fcbf49;
}

.c3 {
    background-color: #f77f00;
    color: #fff;
}

.c4 {
    background-color: #d62828;
    color: #fff;
}

.c5 {
    background-color: #003049;
    color: #fff;
}

.filling {
    white-space: nowrap;
}

.white-space-normal {
    white-space: normal !important;
}

.table-autowidth td:first-child {
    width: 1px;
    white-space: nowrap;
}

.newstick {
    max-height: 70px;
    cursor: pointer;
    overflow: hidden;
    width: 300px;
}

    .newstick:hover {
        background-color: #f8f9fa !important;
    }

    .newstick img {
        width: 50px;
        height: 50px;
    }

    .newstick div {
        overflow: hidden;
    }

.by {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 2px -2px 5px rgb(0 0 0 / 30%) !important;
    color: #fff;
}


.back {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.added {
    font-weight: bold;
    font-size: small;
}

.btn-main {
    background-color: #0096c7;
    border-color: #0077b6;
    color: #fff;
}
    .btn-main:hover {
        background-color: #0077b6;
        color: #fff;
    }

.blue {
    background-color: #0096c7;
}
    .blue:hover {
        background-color: #8d99ae !important;
    }

.deepblue {
    background-color: #0077b6;
}
    .deepblue:hover {
        background-color: #8d99ae !important;
    }

.grayblue {
    background-color: #457b9d;
}

    .grayblue:hover {
        background-color: #8d99ae !important;
    }

.right-140 {
    right: 155px !important;
}

.right-305 {
    right: 305px !important;
}

#showFeedback {
    cursor: pointer;
}

.stars {
    --s: 50px;
    position: relative;
    display: inline-flex;
}

    .stars input {
        width: var(--s);
        height: var(--s);
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }

    .stars i {
        position: absolute;
        display: grid;
        inset: 0 0 calc(var(--s)*0.1);
        pointer-events: none;
        --v1: transparent,#000 0.5deg 108deg,#0000 109deg;
        --v2: transparent,#000 0.5deg 36deg,#0000 37deg;
        -webkit-mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7),var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0,var(--v2));
        -webkit-mask-size: var(--s) var(--s);
        -webkit-mask-composite: xor,destination-over;
        mask-composite: exclude,add;
        background: #ccc;
    }

        .stars i:before,
        .stars i:after {
            content: "";
            grid-area: 1/1;
            margin-inline-end: auto;
        }

        .stars i:before {
            background: gold;
            width: calc(var(--p,0)*var(--s));
        }

        .stars i:after {
            background: rgba(255,0,0,var(--o,0.3));
            width: calc(var(--l,0)*var(--s));
        }

    .stars:focus-within {
        outline: 1px solid;
    }

input:active ~ i {
    --o: 1
}

input:nth-of-type(1):checked ~ i {
    --p: 1
}

input:nth-of-type(2):checked ~ i {
    --p: 2
}

input:nth-of-type(3):checked ~ i {
    --p: 3
}

input:nth-of-type(4):checked ~ i {
    --p: 4
}

input:nth-of-type(5):checked ~ i {
    --p: 5
}

input:nth-of-type(6):checked ~ i {
    --p: 6
}

input:nth-of-type(7):checked ~ i {
    --p: 7
}

input:nth-of-type(8):checked ~ i {
    --p: 8
}

input:nth-of-type(9):checked ~ i {
    --p: 9
}

input:nth-of-type(10):checked ~ i {
    --p: 10
}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {
    --l: 1
}

input:nth-of-type(2):hover ~ i {
    --l: 2
}

input:nth-of-type(3):hover ~ i {
    --l: 3
}

input:nth-of-type(4):hover ~ i {
    --l: 4
}

input:nth-of-type(5):hover ~ i {
    --l: 5
}

input:nth-of-type(6):hover ~ i {
    --l: 6
}

input:nth-of-type(7):hover ~ i {
    --l: 7
}

input:nth-of-type(8):hover ~ i {
    --l: 8
}

input:nth-of-type(9):hover ~ i {
    --l: 9
}

input:nth-of-type(10):hover ~ i {
    --l: 10
}
/*input:nth-of-type(N):hover ~ i {--l:N}*/




/* SELECT BOX CSS */

.box select {
    background-color: #fbfaf8;
    border: none;
    /*-webkit-appearance: none;
    appearance: none;
    outline: none;*/
    
    /* Reset */
    border: 1px solid #6c757d;
    border: 0;
    outline: 0;
    /* Personalize */
    width: 10em;
    /*background: url(Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);*/
    border-radius: 0.25em;
}

    /*.box::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }*/

    .box:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .box select option {
        padding: 30px;
    }

/* <select> styles */
select {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.skeleton-text__body {
    width: 75%;
}

.skeleton-footer {
    width: 30%;
}

.nav-link {
    color: #1c1c1c !important;
    border-bottom: 3px solid #fff !important;
    white-space: nowrap;
}

.nav-link:focus, .nav-link:hover, .nav-link.active {
    border-bottom: 3px solid #0077b6 !important;
    background-color: #fff !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.menu {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: -25px;
    overflow-y: hidden;
    overflow-x: auto;
}

#map {
    width: 100%;
    width: 100%;
    height: 400px;
}

/*@media only screen and (max-width: 480px) {
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (min-width: 480px) {
    .card-columns {
        column-count: 3;
    }
}*/


.card-columns {
    -webkit-columns: 3; /* Chrome, Safari, Opera */
    -moz-columns: 3; /* Firefox */
    columns: 3;
}

@media (max-width: 1080px) {
    .card-columns {
        -webkit-columns: 2; /* Chrome, Safari, Opera */
        -moz-columns: 2; /* Firefox */
        columns: 2;
    }
}

@media (max-width: 470px) {
    .card-columns {
        -webkit-columns: 1; /* Chrome, Safari, Opera */
        -moz-columns: 1; /* Firefox */
        columns: 1;
    }
}

.card-columns li > div {
    display: inline-block;
}


/* custom scrollbar */
.Gcontainer {
    /*height: 100%;*/
    max-height: 25vh;
    overflow-y: auto;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }



$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;

body {
    background: $gradient;
}

/* <select> styles */
select {
    font-weight: 400 !important;
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.55) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
        option {
        color: inherit;
        background-color: #320a28;
    }
/* Remove focus outline */
&:focus {
    outline: none;
}
/* Remove IE arrow */
&::-ms-expand {
    display: none;
}
}


#CitizenshipId {
    max-width: 90vw;
}