<section class="container py-4 my-5 text-center">
    <h2 class="mb-5">
        <strong>Here are destinations we're monitoring now 🤖 ...</strong>
    </h2>

    <div class="row row-cols-sm-1 row-cols-1 row-cols-lg-3 row-cols-md-3 g-4">
        <div class="col">
            <a href="/Thailand">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-info position-absolute bottom-0 start-0 m-2">
                        ✨ Oppening from July, 1
                    </span>

                    <span class="
                badge badge-card
                bg-success
                -text-dark
                position-absolute
                top-0
                start-0
                m-2
              ">
                        🕜 updated 3 mins ago
                    </span>
                    <img src="thailand.jpg" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Thailand</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <div class="card rounded-3 text-white">
                <span class="
              badge badge-card
              bg-warning
              text-dark
              position-absolute
              bottom-0
              start-0
              m-2
            ">🔬 In progress: 90%</span>
                <img src="Mexico-City.jpg" class="card-img" alt="Photo" />
                <div class="card-img-overlay preparing">
                    <h2 class="card-title shadowed mt-3">Mexico</h2>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card rounded-3 text-white">
                <span class="
              badge badge-card
              bg-warning
              text-dark
              position-absolute
              bottom-0
              start-0
              m-2
            ">🔬 In progress: 50%</span>
                <img src="Jakarta.jpg" class="card-img" alt="Photo" />
                <div class="card-img-overlay preparing">
                    <h2 class="card-title shadowed mt-3">Indonesia</h2>
                </div>
            </div>
        </div>
    </div>
</section>