<section class="d-flex" style="overflow: hidden; overflow-x: auto;">
    <a href="https://safetywing.com/?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer" class="text-decoration-none">
        <div class="d-flex border rounded-pill m-2 p-2 pe-3 newstick text-muted">
            <img class="rounded-circle me-3" src="~/safetywind_300.jpg" />
            <p>🚑 Nomad innsurance from $1.5/day COVID-19 coverage</p>
        </div>
    </a>
    <a href="https://www.producthunt.com/posts/glomad" rel="noopener nofollow noreferrer" class="text-decoration-none">
        <div class="d-flex border rounded-pill m-2 p-2 pe-3 newstick text-muted">
            <img class="rounded-circle me-3" src="~/press/ph-cat.jpg" />
            <p>🏆 Publishing about us on Product hunt</p>
        </div> 
    </a>

    @*<a href="#" rel="noopener nofollow noreferrer" class="text-decoration-none">
        <div class="d-flex border rounded-pill m-2 p-2 pe-3 newstick text-muted">
            <img class="rounded-circle me-3" src="~/nocover_300.jpg" />
            <p>✈ Cheap aviatickets from Moscow</p>
        </div>
    </a>*@
</section>