<section class="container py-4 my-5 text-center">
    <h2 class="text-center p-4">🐱‍💻 Best digital nomad countries</h2>

    <div class="row row-cols-sm-1 row-cols-1 row-cols-lg-3 row-cols-md-2 g-3">
        <div class="col">
            <a href="/Georgia">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="georgia.jpg" srcset="georgia_300.jpg 384w, georgia.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Georgia</h2>
                        <h5 class="shadowed">No entry visa</h5>
                        <p class="shadowed">Citizens of 90 countries can enter and stay in without visa one year.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 From any!
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Free of charge
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Mauritius">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="mauritius.jpg" srcset="mauritius_300.jpg 384w, mauritius.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Mauritius</h2>
                        <h5 class="shadowed">Premium Visa</h5>
                        <p class="shadowed">One year for remoute workers and their families.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 From any!
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Free of charge
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Antigua and Barbuda">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="antigua and barbuda.jpg" srcset="antigua and barbuda_300.jpg 384w, antigua and barbuda.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Antigua and Barbuda</h2>
                        <h5 class="shadowed">Nomad Digital Residence</h5>
                        <p class="shadowed">The two-year period extended stay for remote workers and their families.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 Start of $50,000 per year
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 2 years
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Visa Fees - $1,5 for people
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Croatia">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="croatia.jpg" srcset="croatia_300.jpg 384w, croatia.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Croatia</h2>
                        <h5 class="shadowed">Temporary stay of digital nomads</h5>
                        <p class="shadowed">One year perid for digital nomads.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 From €2,232 per month
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Visa fee - up €80 to €130
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Mexico">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="mexico.jpg" srcset="mexico_300.jpg 384w, mexico.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Mexico</h2>
                        <h5 class="shadowed">Temporary Resident Visa</h5>
                        <p class="shadowed">Period of stay one year, extended to three years</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 $1,620 per month
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 3 years
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Dominica">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="dominica.jpg" srcset="dominica_300.jpg 384w, dominica.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Dominica</h2>
                        <h5 class="shadowed">Work In Nature (WIN) Extended Stay Visa </h5>
                        <p class="shadowed">One and half year period of stay for for remote workers.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 From $70,000 per year
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 547 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Visa fee -  $900
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/United Arab Emirates">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="united arab emirates.jpg" srcset="united arab emirates_300.jpg 384w, united arab emirates.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">United Arab Emirates</h2>
                        <h5 class="shadowed">Work remotely from Dubai</h5>
                        <p class="shadowed">One year perid of stay for digital nomads.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 €5,000 - per month
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Fee - $287
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Seychelles">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="seychelles.jpg" srcset="seychelles_300.jpg 384w, seychelles.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Seychelles</h2>
                        <h5 class="shadowed">Seychelles Workcation Program</h5>
                        <p class="shadowed">Stay for remote workers for 30 days up to 1 year.</p>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up tp 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Fee -€45
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/Malta">
                <div class="card rounded-3 text-white">
                    <span class="badge badge-card bg-success position-absolute top-0 start-0 m-2  ">
                        ⚡ updated a day ago
                    </span>
                    <img src="malta.jpg" srcset="malta_300.jpg 384w, malta.jpg 1920w" sizes="50vw" class="card-img" alt="..." />
                    <div class="card-img-overlay">
                        <h2 class="card-title shadowed mt-3">Malta</h2>
                        <h5 class="shadowed">Nomad Residency Permit</h5>
                        <p class="shadowed">Period of stay for nomads up to one year.</p>
                        <span class="badge badge-card bg-info m-2">
                            💸 From any!
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ⏱ Up to 365 days
                        </span>
                        <span class="badge badge-card bg-info m-2">
                            ✨ Fee -€300
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>