@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model CovidPage

@{
    ViewData["Title"] = $"{Model.Header.CountryName} COVID-19 travel restrictions, quarantine and entry requrements. Last update {Model.Country.UpdateDate}.";
    ViewData["MetaDescription"] = $"Up-to-date info on COVID-19 travel restrictions for {Model.Header.CountryName}.  Explore entry and quarantine requirements for {Model.Header.CountryName} in {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}/Covid";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container py-3">

    @await Html.PartialAsync("_Menu", Model.Header.CountryName)

    <h2 class="fw-bold text-center p-4">🦠 @Model.Header.CountryName COVID-19 travel requirements</h2>

    <div class="p-3">@Html.Raw(Model.Covid)</div>

</section>