@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model FaqPage;

@{
    ViewData["Title"] = $"FAQ about {Model.header.CountryName}";
    ViewData["MetaDescription"] = $"List of FAQ about {Model.header.CountryName}. Last update {ViewBag.LastUpdates}";
    ViewData["Canonical"] = $"https://glomad.net/{Model.header.CountryName}/faq";
}

@await Html.PartialAsync("_Header", Model.header)
@await Html.PartialAsync("_Menu", Model.header.CountryName)

<section class="container sectionstyle">
    <h2 class="text-center p-4">❓ FAQ about @Model.header.CountryName</h2>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pt-4">
        @foreach (var c in Model.questions)
        {
            <b>@c.Text</b>
            <br />
            <p>@c.Answer</p>
        }
    </div>

</section>