@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model FaqPage;

@{
    ViewData["Title"] = $"FAQ about {Model.header.CountryName}";
    ViewData["MetaDescription"] = $"List of FAQ about {Model.header.CountryName}. Last update {ViewBag.LastUpdates}";
    ViewData["Canonical"] = $"https://glomad.net/{Model.header.CountryName}/FAQ";
}

@await Html.PartialAsync("_Header", Model.header)
@await Html.PartialAsync("_Menu", Model.header.CountryName)

<section class="container sectionstyle">
    <h2 class="text-center p-4">❓ FAQ about @Model.header.CountryName</h2>

    <div class="row p-4">
        <div class="accordion" id="accordion">
            @{                
                int i = 0;
                
                foreach (var c in Model.questions)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header-@i">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">
                                @c.Text
                            </button>
                        </h2>
                        <div id="collapse-@i" class="accordion-collapse collapse" aria-labelledby="header-@i" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                @c.Answer
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>        
    </div>

</section>