@model VisaPage

@{
    ViewData["Title"] = $"This is VISA";
    ViewData["MetaDescription"] = $"And about";
    //ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}";
}

<h2 class="fw-bold text-center p-4">💳 Visa name</h2>
