@model IEnumerable<string>

<h5>Countries</h5>
<ul class="list-unstyled text-small">
    @foreach (var c in Model)
    {
        <li class="mb-1"><a class="text-decoration-none" href="/@c">@c</a></li>
    }
    <li class="mb-1"><a class="fw-bold text-decoration-none" href="/Countries">All countries</a> 👉</li>
</ul>