@model SelectList


@*<button onclick="toggleDisplay('CitizenshipId')"
    class="r1 position-absolute -w-100 btn p-2 m-2 fw-bold top-0 end-0" style="z-index: 1;">
    👉 My country is @Model
</button>*@






@*<div class="box position-absolute btn p-1 m-1 top-0 end-0" style="z-index: 2;">
    <select id="CitizenshipId"
            aria-label="CitizenshipId"
            onChange="setCountry(this);"
            --class="p-1"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="👆 Click to choose your country"
            asp-items="@Model">
        <option disabled selected value="0">🛂 Your national passport</option>
    </select>
</div>*@

<div class="row g-3">

    <div class="col-lg-5 col-sm-12 h4 m-0">
        <select id="CitizenshipId" onChange="setCountry(this);" class="p-3 form-select select-big" asp-items="@Model">
            <option disabled selected value="0">🛂 Your citizenship</option>
        </select>
    </div>    

    <div class="col-lg-5 col-sm-12 h4 my-2">
        <select id="DestinationId" onChange="setCountry(this);" class="p-3 form-select select-big" asp-items="@Model">
            <option disabled selected value="0">✈ Destination country</option>
        </select>
    </div>

    <div class="col-lg-2 col-sm-12 m-0">
        <button id="btnGo" onclick="Go()" class="w-100 h-100 btn btn-main btn-lg text-nowrap" type="submit" >Go</button>
    </div>
    

</div>
