@using System.Globalization;
@model PassportViewModel

@{
    ViewData["Title"] = $"Visa requirements for {Model.Country.Name} citizens, visa free countries list in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["MetaDescription"] = $"Passport holders of {Model.Country.Name} can visit {Model.CountryFreeEntry.Count} visa free countries. {Model.Country.Name} citezens can apply visa online for {Model.CountryEvisa.Count} countries. Visa requirements for {Model.Country.Name} citizens in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/passport/{Model.Country.Name}";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container sectionstyle">


    <div class="row p-4">
        <div class="row">
            <div class="col-md-8 text-break">
                <h4 class="text-center p-4">
                    There are @Model.CountryFreeEntry.Count countries not required visa for 
                    holders of passport of @Model.Country.Name:
                </h4>

                <div class="row">
                    <div class="col-6">
                        <h4>👋 No entry visa countries</h4>
                        <ul class="list-unstyled pt-2">
                            @foreach (var e in Model.CountryFreeEntry)
                            {
                                <li class="mb-2">
                                    <span class="flag-icon flag-icon-@e.Iata.ToLower() flag-icon-squared"></span>
                                    <a href="/@e.Name">@e.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4>💻 Countries with E-visa</h4>
                        <ul class="list-unstyled pt-2">
                            @foreach (var e in Model.CountryEvisa)
                            {
                                <li class="mb-2">
                                    <span class="flag-icon flag-icon-@e.Iata.ToLower() flag-icon-squared"></span>
                                    <a href="/@e.Name">@e.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                
            </div>

            <div class="col-md-4 p-4">

                <div class="position-sticky" style="top: 2rem;">

                    @await Html.PartialAsync("_SubscribeUpdates")

                    <div class="bg-light rounded-booking mb-3 mt-1">
                        <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                            <div class="card bg-dark text-white border-0 card-cover" style="background-image: url('../safetywind_300.jpg');">
                                <div class="card-img-overlay text-center">
                                    <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                    <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                    <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>


