@using System.Globalization;
@model PassportViewModel

@{
    ViewData["Title"] = $"Passport of {Model.Country.Name} in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["MetaDescription"] = $"Passport of {Model.Country.Name} in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/Passport/{Model.Country.Name}";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container sectionstyle">


    <div class="row p-4">
        <div class="row">
            <h2>
                There are @Model.CountryFreeEntry.Count countries not required visa for 
                holders of passport of @Model.Country.Name:
            </h2>

            <ul class="list-unstyled text-small card-columns pt-4">
                @foreach (var e in Model.CountryFreeEntry)
                {
                    <li class="mb-1">
                        <span class="flag-icon flag-icon-@e.Iata.ToLower() flag-icon-squared"></span>
                        <a href="/@e.Name">@e.Name</a>
                        @if (e.EVisaAvailable)
                        {
                            <span>⚠ E-Visa</span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</section>


